In [1]:
from AEIC.config import Config, config
from AEIC.performance import PerformanceModel
from AEIC.performance.types import LTOThrustMode

Load default AEIC configuration.

In [2]:
Config.load();

Load a sample (table-based) performance model.

In [3]:
pm = PerformanceModel.load(
    config.file_location('performance/sample_performance_model.toml')
)

In [4]:
type(pm)

AEIC.performance.table.TablePerformanceModel

In [5]:
pm.flight_performance.df

     fuel_flow     fl         tas       rocd     mass
0     1.328352    0.0   80.812757  23.820675  51434.0
1     0.124071    0.0   74.125514  -4.666078  51434.0
2     1.328773    5.0   81.393794  23.925338  51434.0
3     0.124322    5.0   74.659943  -4.713967  51434.0
4     1.329229   10.0   81.981612  24.030587  51434.0
..         ...    ...         ...        ...      ...
208   1.046648  390.0  236.035847   0.000000  81371.0
209   0.259890  390.0  236.035847 -13.087845  81371.0
210   1.510291  410.0  235.983686  26.808005  81371.0
211   1.102579  410.0  235.983686   0.000000  81371.0
212   0.261361  410.0  235.983686 -13.952738  81371.0

[213 rows x 5 columns]

In [ ]:
pm.flight_performance.performance_table

In [6]:
pm.speeds

Speeds(climb=SpeedData(cas_lo=128.611, cas_hi=154.3332, mach=0.8), cruise=SpeedData(cas_lo=128.611, cas_hi=144.04432, mach=0.8), descent=SpeedData(cas_lo=128.611, cas_hi=149.18876, mach=0.8))

In [7]:
pm.lto_performance

LTOPerformance(source='EDB', ICAO_UID='01P11CM121', Foo_kN=102.695, mode_data={<LTOThrustMode.APPROACH: 'approach'>: LTOModeData(thrust_frac=0.3, fuel_kgs=0.278, EI_NOx=0.0, EI_HC=0.0, EI_CO=0.0), <LTOThrustMode.CLIMB: 'climb'>: LTOModeData(thrust_frac=0.85, fuel_kgs=0.754, EI_NOx=0.0, EI_HC=0.0, EI_CO=0.0), <LTOThrustMode.TAKEOFF: 'takeoff'>: LTOModeData(thrust_frac=1.0, fuel_kgs=0.903, EI_NOx=0.0, EI_HC=0.0, EI_CO=0.0), <LTOThrustMode.IDLE: 'idle'>: LTOModeData(thrust_frac=0.07, fuel_kgs=0.102, EI_NOx=0.0, EI_HC=0.0, EI_CO=0.0)})

In [8]:
pm.lto_performance.mode_data[LTOThrustMode.APPROACH]

LTOModeData(thrust_frac=0.3, fuel_kgs=0.278, EI_NOx=0.0, EI_HC=0.0, EI_CO=0.0)

In [9]:
type(pm).__mro__

(AEIC.performance.table.TablePerformanceModel,
 AEIC.performance.base.BasePerformanceModel,
 AEIC.utils.models.CIBaseModel,
 pydantic.main.BaseModel,
 abc.ABC,
 object)

In [10]:
pm.apu

APU(name='APU 131-9', defra='131-9', fuel_kg_per_s=0.0321, NOx_g_per_kg=6.64, CO_g_per_kg=4.88, HC_g_per_kg=0.37, PM10_g_per_kg=0.054165420212751)